.heart {
    animation: heart-beat 1.2s infinite ease-in-out;
    text-align: center; font-size: 400%;
}
@keyframes heart-beat
{   0%  {transform: scale(1);}     40% {transform: scale(0.6);}
    60%  {transform: scale(0.9);} 100% {transform: scale(0.7);}
}
fieldset
{   border-top-left-radius: 1rem;
    border: none; box-shadow: -4px 2px 4px silver;
}